@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


*{
    box-sizing: border-box;
}

:root{
    --primary-color: #22d3ee;
    --background-color: #e7e5e4;
    --hover-color: #fafaf9;
    --active-link-color: #cffafe;
}

body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.link-title h1{
    margin: 0;
    font-size: 2rem;
    font-family: 'Silkscreen', cursive;
}

.nav{
    display: grid;
    width: 100%;
    grid-template-columns: auto minmax(auto, 3fr);
    padding: 1rem 0;
    background-color: var(--primary-color);
}

.nav .link-container{
    grid-column: 2/3;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
    font-family: 'Righteous', cursive;
}

.nav .link-title{
    grid-column: 1/2;
    text-decoration: none;
    color: black;
    padding-left: 1rem;
}

.link{
    text-decoration: none;
    color: black;
    padding-right: 2rem;
    font-size: 1.2rem;
}

.link:hover, .btn-class:hover, .link-title h1:hover{
    color: var(--hover-color);
}

.nav .link-active{
    color: var(--active-link-color);
    font-weight: 800;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-width: 30%;
}

.main-container label{
    font-weight: 600;
}

.input-class{
    display: block;
    margin: 0.5rem 1.5rem 1.5rem;
    text-align: center;
    padding: 0.3rem;
}

.btn-class{
    padding: 0.7rem;
    font-family: 'Righteous', cursive;
    border: 2px solid black;
    cursor: pointer;
    background-color: var(--primary-color);
    border-radius: 1rem;
    font-size: 1rem;
}

.quiz-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-container h1{
    text-align: center;
}

.quiz-container .container{
    width: 50%;
}

.question-container{
    padding: 0.5rem;
}

.btn-quiz{
    padding: 0.7rem;
    font-family: 'Righteous', cursive;
    border: 2px solid black;
    cursor: pointer;
    background-color: var(--primary-color);
    border-radius: 1rem;
    display: block;
    margin: auto;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.output-score{
    text-align: center;
}

.btn-quiz:hover{
    color: var(--hover-color);
}

.footer {
    padding: 1.2rem 0;
    width: 100%;
    text-align: center;
    background-color: var(--primary-color);
    margin-top: auto;
}

.footer-img {
    width: 2rem;
    margin: 0 1rem;
}

.footer .link-social {
    text-decoration: none;
    margin: 0.5rem;
}